body {
    background-color: rgb(251, 216, 42);
    margin: 0;
    padding: 0;
}

header{
    margin-top: 0;
    margin-left: 15px;
}

.contenedor-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

section {
    align-content: center;
    margin: 20px 30px 40px 20px;
}

.galeria {
    display: flex;
    height: 30rem;
    gap: 1rem;
    text-align: center;
    margin-top: 50px;
}

.galeria > div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .9s cubic-bezier(.25, .4, .45, 1.4);
}

.galeria > div:hover {
    flex: 5;
}

.Galvideo{
    text-align: center;
}

video {
    max-width: 60%;
    max-height: 50%;
}

.Caravana-imagen{
    text-align: center;
}
